<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamed.recyclerviewmysqlvolley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/AppTheme2"
        >
        <activity android:name=".Welcom" android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewVamActivity"
             android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ListVamActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".NewMojodiActivity" />
        <activity android:name=".NewOzvActivity" />
        <activity android:name=".LoginActivity" />

        <activity
            android:name=".ListUserActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".MainActivity" android:theme="@style/AppTheme1"></activity>
    </application>

</manifest>